{% macro formFloating(field="", text="", type="text") %}
<div class="form-floating mb-3">
  <input type="{{type}}" class="form-control" name="{{field}}" id="{{field}}" />
  <label for="{{field}}">{{text}}</label>
  <p id="{{field}}-error" class="error"></p>
</div>
{% endmacro %} {% extends 'index.html' %} {% block title %}{{title}}{% endblock
%}{% block body %}
<div class="row">
  <div
    class="col-sm-4"
    style="position: relative; text-align: center; color: white"
  >
    <div
      class="col-sm-12"
      style="
        background-image: linear-gradient(
            rgba(165, 226, 240, 0.25),
            rgba(165, 226, 240, 0.85)
          ),
          url('../static/images/imgOne.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        opacity: 0.7;
      "
    ></div>
    <div
      style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    >
      Hello
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-6 d-flex align-items-center">
    <main class="form-signin w-100 m-auto">
      <form id="logRegForm" data-type="{{title}}" novalidate>
        <h1 class="h3 mb-3 fw-normal">{{title}}</h1>
        {% if title=='Register' %} {{formFloating('firstName', 'First Name')}}
        {{formFloating('lastName', 'Last Name')}} {% endif %}
        {{formFloating('email', 'Email', 'email')}} {{formFloating('password',
        'Password', 'password')}} {% if title=='Register' %}
        {{formFloating('confirmPassword', 'Confirm Password', 'password')}} {%
        endif %}
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          {{title}}
        </button>
        <div class="mt-4 d-flex justify-content-between">
          <a href="/home">Back</a>
          <p>© {{year}} since9teen94</p>
        </div>
      </form>
    </main>
  </div>
</div>
{% endblock %}
