{% macro formFloating(field="", text="", type="text") %}
<div class="form-floating mb-3">
  <input type="{{type}}" class="form-control" name="{{field}}" id="{{field}}" />
  <label for="{{field}}">{{text}}</label>
</div>
{% endmacro %} {% extends 'index.html' %} {% block title %}{{title}}{% endblock
%}{% block body %}
<div class="row">
  <div
    class="col-sm-4"
    style="
      background-image: url('../static/images/sydney-rae-i0kQM6OdeVc-unsplash.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
    "
  ></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-6 d-flex align-items-center">
    <main class="form-signin w-100 m-auto">
      <form id="logRegForm" data-type="{{title}}">
        <!--<img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
        <h1 class="h3 mb-3 fw-normal">{{title}}</h1>

        {% if title=='Register' %} {{formFloating('firstName', 'First Name')}}
        {{formFloating('lastName', 'Last Name')}} {% endif %}
        {{formFloating('email', 'Email', 'email')}} {{formFloating('password',
        'Password', 'password')}} {% if title=='Register' %}
        {{formFloating('confirmPassword', 'Confirm Password', 'password')}} {%
        endif %}

        <!--<div class="checkbox mb-3">-->
        <!--<label> <input type="checkbox" value="remember-me" /> Remember me </label>-->
        <!--</div>-->
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          {{title}}
        </button>
        <p class="mt-5 mb-3 text-muted text-end">© {{year}} since9teen94</p>
      </form>
    </main>
  </div>
</div>
{% endblock %}
